.photo-grid {
    margin: 0 auto;
    max-width: 1184px;
    width: calc(100vw - 48px*2);
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 284px));
    gap: 16px;
    padding-bottom: 92px;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .photo-grid {
        gap: 14px;
        grid-template-columns: repeat(3, minmax(215px, 300px));
        padding-bottom: 92px;
    }
}

@media screen and (min-width: 610px) and (max-width: 768px) {
    .photo-grid {
        width: calc(100vw - 24px*2);
        gap: 16px;
        grid-template-columns: repeat(2, minmax(273px, 352px));
    }
}

@media screen and (min-width: 320px) and (max-width: 610px) {
    .photo-grid {
        width: calc(100vw - 24px*2);
        column-gap: 10px;
        row-gap: 12px;
        grid-template-columns: repeat(2, minmax(130px, 273px));
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        width: 100%;
        row-gap: 12px;
        grid-template-columns: minmax(130px, 288px);
        padding-bottom: 64px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .photo-grid {
        padding-bottom: 88px;
    }
}