.logo__img {
  width: 176px;
  max-width: 250px;
}

@media screen and (min-width: 1600px) {
  .logo__img {
      width: 13%;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .logo__img {
    width: 30%;
  }
}

@media screen and (max-width: 631px) {
  .logo__img {
    width: 142px;
  }
}