.lead__subtitle {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    width: 100%;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 64px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 58px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .lead__subtitle {
        max-width: 83%;
        margin-bottom: 54px;
    }
}

@media screen and (min-width: 320px) and (max-width: 936px) {
    .lead__subtitle {
        font-size: clamp(16px, 4vw, 30px);
        line-height: 1.16em;
    }
}

@media screen and (max-width: 536px) {
    .lead__subtitle {
        margin: 16px auto 40px;
    }
}

@media screen and (min-width: 320px) and (max-width: 345px) {
    .lead__subtitle {
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: clamp(6px, 5vw, 16px);
        line-height: 1.16em;
        margin-bottom: 40px;
    }
}